<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
<h1>Login</h1>

<p style="color: red; font-size: 20px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores blanditiis, earum quasi facilis similique soluta temporibus molestiae necessitatibus qui quam reiciendis quae quod architecto neque laborum sapiente ex suscipit aspernatur.</p>

<style>
    h1{
        color: blue;

    }
</style>
</body>
</html>